body {
  background-color: black;
}

h2 {
  color: white;
  font-family: georgia, serif;
}

.caption {
	color: white;
	font-family: georgia, serif;
	font-size: 25px;
}

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.slide-container {
	width:1000px;
	height: 700px;
	margin: auto;

}

.carousel-slide {
	max-width: 90%;
	max-height:90%;

}

img.resize {
    max-width:540px;
    height: auto;
}

}
<button class="w3-button w3-display-left" onclick="plusDivs(-1)">;</button>
<button class="w3-button w3-display-right" onclick="plusDivs(+1)";</button>